In [1]:
#Start a simple Spark Session
import findspark
findspark.init("C:/spark")
import pyspark 
findspark.find()

'C:/spark'

In [2]:
#importer spark Session
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

In [3]:
#1- Start a simple Spark Session
spark = SparkSession.builder \
                    .master("local") \
                    .appName("FolksDF") \
                    .getOrCreate()

In [4]:
#2 Load the Walmart Stock CSV File
Walmart = spark.read \
                .option("header",'true') \
                .option("delimiter",",") \
                .csv("walmart_stock.csv")
Walmart.show()

+----------+------------------+------------------+------------------+------------------+--------+------------------+
|      Date|              Open|              High|               Low|             Close|  Volume|         Adj Close|
+----------+------------------+------------------+------------------+------------------+--------+------------------+
|2012-01-03|         59.970001|         61.060001|         59.869999|         60.330002|12668800|52.619234999999996|
|2012-01-04|60.209998999999996|         60.349998|         59.470001|59.709998999999996| 9593300|         52.078475|
|2012-01-05|         59.349998|         59.619999|         58.369999|         59.419998|12768200|         51.825539|
|2012-01-06|         59.419998|         59.450001|         58.869999|              59.0| 8069400|          51.45922|
|2012-01-09|         59.029999|         59.549999|         58.919998|             59.18| 6679300|51.616215000000004|
|2012-01-10|             59.43|59.709998999999996|             58.98|59.040001000000004| 6907300|         51.494109|
|2012-01-11|         59.060001|         59.529999|59.040001000000004|         59.400002| 6365600|         51.808098|
|2012-01-12|59.790001000000004|              60.0|         59.400002|              59.5| 7236400|51.895315999999994|
|2012-01-13|             59.18|59.610001000000004|59.009997999999996|59.540001000000004| 7729300|51.930203999999996|
|2012-01-17|         59.869999|60.110001000000004|             59.52|         59.849998| 8500000|         52.200581|
|2012-01-18|59.790001000000004|         60.029999|         59.650002|60.009997999999996| 5911400|         52.340131|
|2012-01-19|             59.93|             60.73|             59.75|60.610001000000004| 9234600|         52.863447|
|2012-01-20|             60.75|             61.25|         60.669998|61.009997999999996|10378800|53.212320999999996|
|2012-01-23|         60.810001|             60.98|60.509997999999996|             60.91| 7134100|         53.125104|
|2012-01-24|             60.75|              62.0|             60.75|61.389998999999996| 7362800| 53.54375400000001|
|2012-01-25|             61.18|61.610001000000004|61.040001000000004|         61.470001| 5915800| 53.61353100000001|
|2012-01-26|         61.799999|             61.84|             60.77|         60.970001| 7436200|         53.177436|
|2012-01-27|60.860001000000004|         61.119999|60.540001000000004|60.709998999999996| 6287300|         52.950665|
|2012-01-30|         60.470001|             61.32|         60.349998|         61.299999| 7636900|53.465256999999994|
|2012-01-31|         61.529999|             61.57|         60.580002|61.360001000000004| 9761500|53.517590000000006|
+----------+------------------+------------------+------------------+------------------+--------+------------------+
only showing top 20 rows

In [5]:
#3-the column names
Walmart.columns

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

In [6]:
#4-the Schema look like:
Walmart.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- Volume: string (nullable = true)
 |-- Adj Close: string (nullable = true)

In [7]:
#5-Create a new dataframe with a column called "HV_Ratio" that is the ratio of the High Price versus volume of stock traded for a day
WalmartNew = Walmart\
            .withColumn('HV_Ratio', col('High')/col('Volume'))

NameError: name 'col' is not defined

In [8]:
#5-Create a new dataframe with a column called "HV_Ratio" that is the ratio of the High Price versus volume of stock traded for a day
WalmartNew = Walmart.withColumn("HV_Ratio", F.col("High")/F.col("Volume"))
WalmartNew.head()

Row(Date='2012-01-03', Open='59.970001', High='61.060001', Low='59.869999', Close='60.330002', Volume='12668800', Adj Close='52.619234999999996', HV_Ratio=4.819714653321546e-06)

In [9]:
#show the new dataframe
WalmartNew.show()

+----------+------------------+------------------+------------------+------------------+--------+------------------+--------------------+
|      Date|              Open|              High|               Low|             Close|  Volume|         Adj Close|            HV_Ratio|
+----------+------------------+------------------+------------------+------------------+--------+------------------+--------------------+
|2012-01-03|         59.970001|         61.060001|         59.869999|         60.330002|12668800|52.619234999999996|4.819714653321546E-6|
|2012-01-04|60.209998999999996|         60.349998|         59.470001|59.709998999999996| 9593300|         52.078475|6.290848613094555E-6|
|2012-01-05|         59.349998|         59.619999|         58.369999|         59.419998|12768200|         51.825539|4.669412994783916E-6|
|2012-01-06|         59.419998|         59.450001|         58.869999|              59.0| 8069400|          51.45922|7.367338463826307E-6|
|2012-01-09|         59.029999|         59.549999|         58.919998|             59.18| 6679300|51.616215000000004|8.915604778943901E-6|
|2012-01-10|             59.43|59.709998999999996|             58.98|59.040001000000004| 6907300|         51.494109|8.644477436914568E-6|
|2012-01-11|         59.060001|         59.529999|59.040001000000004|         59.400002| 6365600|         51.808098|9.351828421515645E-6|
|2012-01-12|59.790001000000004|              60.0|         59.400002|              59.5| 7236400|51.895315999999994| 8.29141562102703E-6|
|2012-01-13|             59.18|59.610001000000004|59.009997999999996|59.540001000000004| 7729300|51.930203999999996|7.712212102001476E-6|
|2012-01-17|         59.869999|60.110001000000004|             59.52|         59.849998| 8500000|         52.200581|7.071764823529412E-6|
|2012-01-18|59.790001000000004|         60.029999|         59.650002|60.009997999999996| 5911400|         52.340131|1.015495466386981E-5|
|2012-01-19|             59.93|             60.73|             59.75|60.610001000000004| 9234600|         52.863447|6.576354146362592...|
|2012-01-20|             60.75|             61.25|         60.669998|61.009997999999996|10378800|53.212320999999996| 5.90145296180676E-6|
|2012-01-23|         60.810001|             60.98|60.509997999999996|             60.91| 7134100|         53.125104|8.547679455011844E-6|
|2012-01-24|             60.75|              62.0|             60.75|61.389998999999996| 7362800| 53.54375400000001|8.420709512685392E-6|
|2012-01-25|             61.18|61.610001000000004|61.040001000000004|         61.470001| 5915800| 53.61353100000001|1.041448341728929...|
|2012-01-26|         61.799999|             61.84|             60.77|         60.970001| 7436200|         53.177436|8.316075414862431E-6|
|2012-01-27|60.860001000000004|         61.119999|60.540001000000004|60.709998999999996| 6287300|         52.950665|9.721183814992126E-6|
|2012-01-30|         60.470001|             61.32|         60.349998|         61.299999| 7636900|53.465256999999994|8.029436027707578E-6|
|2012-01-31|         61.529999|             61.57|         60.580002|61.360001000000004| 9761500|53.517590000000006|6.307432259386365E-6|
+----------+------------------+------------------+------------------+------------------+--------+------------------+--------------------+
only showing top 20 rows

In [10]:
#6-The day  that had the Peak High in Price
#en SQL 
# transformation du dataframe en table
WalmartNew.createOrReplaceTempView("WalmartSQL") 
spark.sql("""select Date from WalmartSQL order by High desc limit 1""").show()

+----------+
|      Date|
+----------+
|2015-01-13|
+----------+

In [11]:
#en DSL 
WalmartNew.select(F.col("Date")) \
          .orderBy(F.col("High").desc()) \
          .head()

Row(Date='2015-01-13')

In [12]:
#7-The mean of the Close column
# en SQL
spark.sql("""select mean(Close) as Moyenne from WalmartSQL""").show()

+-----------------+
|          Moyenne|
+-----------------+
|72.38844998012726|
+-----------------+

In [13]:
# en DSL
WalmartNew.agg(F.mean("Close") \
          .alias("Moyenne")) \
          .show()

+-----------------+
|          Moyenne|
+-----------------+
|72.38844998012726|
+-----------------+

In [14]:
#8-The max and min of the Volume column
#en SQL
spark.sql("""select max(Volume) as Max, min(Volume) sas Min from WalmartSQL""").show()

ParseException:
mismatched input 'Min' expecting {<EOF>, ';'}(line 1, pos 43)

== SQL ==
select max(Volume) as Max, min(Volume) sas Min from WalmartSQL
-------------------------------------------^^^

In [15]:
#8-The max and min of the Volume column
#en SQL
spark.sql("""select max(Volume) as Max, min(Volume) as Min from WalmartSQL""").show()

+-------+--------+
|    Max|     Min|
+-------+--------+
|9994400|10010500|
+-------+--------+

In [16]:
#en DSL
WalmartNew.agg(F.max("Volume").alias("Max"),F.min("Volume").alias("Min")) \
          .show()

+-------+--------+
|    Max|     Min|
+-------+--------+
|9994400|10010500|
+-------+--------+

In [17]:
#9-The days that were the Close lower than 60 dollars
#en SQL
spark.sql("""select count(Date) as Nb from WalmartSQL where Close < '60' """).show()

#en DSL
WalmartNew.filter(F.col("Close") < '60') \
          .count()

+---+
| Nb|
+---+
| 81|
+---+

81

In [18]:
#9-The days that were the Close lower than 60 dollars
#en SQL
spark.sql("""select count(Date) as Nb from WalmartSQL where Close < '60' """).show()

+---+
| Nb|
+---+
| 81|
+---+

In [19]:
#10-The percentage of the time that was the High greater than 80 dollars.(In other words, (Number of Days High>80)/(Total Days in the dataset))
#en SQL
spark.sql(""" select round(
                            (select count(*) from WalmartSQL
                                where High>='80') / (count(*))* 100
                        , 2)  as Pourcentage from WalmartSQL""").show()

#en DSL
Temporaire = WalmartNew.filter(F.col("High")>'80') \
                        .agg(F.count("*").alias ("Comptage")) \
                        .collect()[0][0] 
WalmartNew.agg(F.round((Temporaire/F.count("*")*100),2).alias("Pourcentage")) \
          .show()

+-----------+
|Pourcentage|
+-----------+
|       9.14|
+-----------+

+-----------+
|Pourcentage|
+-----------+
|       9.14|
+-----------+

In [20]:
#11-The max High per year
#en SQL
WalmartNew.agg(F.round((Temporaire/F.count("*")*100),2).alias("Pourcentage")) \
          .show()
        
#en DSL
WalmartNew = WalmartNew.withColumn("Annee",F.substring("Date",1,4))
WalmartNew.select("Date", "Annee").show(4)

WalmartNew.groupBy(F.col("Annee")) \
          .agg(F.max("High")) \
          .orderBy(F.col("Annee").asc()) \
          .show()

+-----------+
|Pourcentage|
+-----------+
|       9.14|
+-----------+

+----------+-----+
|      Date|Annee|
+----------+-----+
|2012-01-03| 2012|
|2012-01-04| 2012|
|2012-01-05| 2012|
|2012-01-06| 2012|
+----------+-----+
only showing top 4 rows

+-----+---------+
|Annee|max(High)|
+-----+---------+
| 2012|77.599998|
| 2013|81.370003|
| 2014|88.089996|
| 2015|90.970001|
| 2016|75.190002|
+-----+---------+

In [21]:
# 12-The average Close for each Calendar Month, In other words, across all the years, the average Close price for Jan,Feb, Mar, etc... the result will have a value for each of these months.
#en SQL
spark.sql(""" select  substr(Date,6,2) as Mois, mean(Close) as Moyenne from WalmartSQL group by Mois order by Mois asc """).show()

#en DSL
WalmartNew = WalmartNew.withColumn("Mois",F.substring("Date",6,2))

WalmartNew.groupBy(F.col("Mois")) \
          .agg(F.mean("Close").alias("Moyenne")) \
          .orderBy(F.col("Mois").asc()) \
          .show()

+----+-----------------+
|Mois|          Moyenne|
+----+-----------------+
|  01|71.44801958415842|
|  02|  71.306804443299|
|  03|71.77794377570092|
|  04|72.97361900952382|
|  05|72.30971688679247|
|  06| 72.4953774245283|
|  07|74.43971943925233|
|  08|73.02981855454546|
|  09|72.18411785294116|
|  10|71.57854545454543|
|  11| 72.1110893069307|
|  12|72.84792478301885|
+----+-----------------+

+----+-----------------+
|Mois|          Moyenne|
+----+-----------------+
|  01|71.44801958415842|
|  02|  71.306804443299|
|  03|71.77794377570092|
|  04|72.97361900952382|
|  05|72.30971688679247|
|  06| 72.4953774245283|
|  07|74.43971943925233|
|  08|73.02981855454546|
|  09|72.18411785294116|
|  10|71.57854545454543|
|  11| 72.1110893069307|
|  12|72.84792478301885|
+----+-----------------+